.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .user-button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  